<!DOCTYPE html>
<html lang="pt-br">

<head>

    {%block title%}
    <title>Casa Criativa</title>
    {%endblock title%}

    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <meta name="keywords" content="Html, css, javascript">
    <meta name="author" content="https://github.com/gabrielbugarelli">
    <meta name="description" content="Projeto da Semana OmniStak 11">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">
</head>

<body id="{{bodyId}}">

    <!-- CONTAINER PRINCIPAL -->
    <div id="container">
        {%block content%} {%endblock%}
    </div>

    <!-- MODAL -->
    {%include "modal.html"%}

    <script src="/scripts.js"></script>
</body>

</html>